<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Catthumb>
            <version>0.1.0</version>
        </Magentothem_Catthumb>
    </modules>
    <frontend>
        <routers>
            <catthumb>
                <use>standard</use>
                <args>
                    <module>Magentothem_Catthumb</module>
                    <frontName>catthumb</frontName>
                </args>
            </catthumb>
        </routers>
        <layout>
            <updates>
                <catthumb>
                    <file>catthumb.xml</file>
                </catthumb>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <catthumb>
                <use>admin</use>
                <args>
                    <module>Magentothem_Catthumb</module>
                    <frontName>catthumb</frontName>
                </args>
            </catthumb>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="catthumb">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <catthumb translate="title" module="catthumb">
                        <title>Category Thumb Slider</title>
                        <sort_order>0</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/catthumb</action>
                            </configuration>
                        </children>
                    </catthumb>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Catthumb>
                            <title>Catthumb Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Catthumb>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <catthumb>
                    <file>catthumb.xml</file>
                </catthumb>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <catthumb>
                <class>Magentothem_Catthumb_Model</class>
                <resourceModel>catthumb_resource</resourceModel>
            </catthumb>
            <catthumb_resource>
                <class>Magentothem_Catthumb_Model_Resource</class>
            </catthumb_resource>
        </models>
        <resources>
            <catthumb_setup>
                <setup>
                    <module>Magentothem_Catthumb</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catthumb_setup>
            <catthumb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catthumb_write>
            <catthumb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catthumb_read>
        </resources>
        <blocks>
            <catthumb>
                <class>Magentothem_Catthumb_Block</class>
            </catthumb>
        </blocks>
        <helpers>
            <catthumb>
                <class>Magentothem_Catthumb_Helper</class>
            </catthumb>
        </helpers>
    </global>
    <default>
        <catthumb>
            <catthumb_config>
                <enabled>1</enabled>
                <jquery>1</jquery>
                <title>Category Thumb Slider</title>
                <auto>1</auto>
                <speed>3000</speed>
                <maxslides>5</maxslides>
                <sort_name>asc</sort_name>
                <item_width>100</item_width>
                <width_thumbnail>479</width_thumbnail>
                <height_thumbnail>278</height_thumbnail>
            </catthumb_config>
        </catthumb>
    </default>
</config>