<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Bestsellerproduct>
            <version>1.6.1</version>
        </Magentothem_Bestsellerproduct>
    </modules>
    <frontend>
        <routers>
            <bestsellerproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Bestsellerproduct</module>
                    <frontName>bestsellerproduct</frontName>
                </args>
            </bestsellerproduct>
        </routers>
        <layout>
            <updates>
                <bestsellerproduct>
                    <file>bestsellerproduct.xml</file>
                </bestsellerproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Bestsellerproduct</module>
					<frontName>bestsellerproduct</frontName>
				</args>
			</bestsellerproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="bestsellerproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<bestsellerproduct translate="title" module="bestsellerproduct">
						<title>Bestseller Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/bestsellerproduct</action>
							</configuration>
						</children>
					</bestsellerproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Bestsellerproduct>
							<title>Bestsellerproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Bestsellerproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bestsellerproduct>
					<file>bestsellerproduct.xml</file>
				</bestsellerproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bestsellerproduct>
                <class>Magentothem_Bestsellerproduct_Model</class>
                <resourceModel>bestsellerproduct_resource</resourceModel>
            </bestsellerproduct>
            <bestsellerproduct_resource>
                <class>Magentothem_Bestsellerproduct_Model_Resource</class>
            </bestsellerproduct_resource>
        </models>
        <resources>
            <bestsellerproduct_setup>
                <setup>
                    <module>Magentothem_Bestsellerproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerproduct_setup>
            <bestsellerproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerproduct_write>
            <bestsellerproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerproduct_read>
        </resources>
        <blocks>
            <bestsellerproduct>
                <class>Magentothem_Bestsellerproduct_Block</class>
            </bestsellerproduct>
        </blocks>
        <helpers>
            <bestsellerproduct>
                <class>Magentothem_Bestsellerproduct_Helper</class>
            </bestsellerproduct>
        </helpers>
    </global>
	<default>
		<bestsellerproduct>
			<bestsellerproduct_config>
				<enabled>1</enabled>
				<title>Bestseller Products</title>
				<addtocart>0</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>1</review>
				<description>0</description>
				<qty>2</qty>
				<items>2</items>
				<width>85</width>
				<height>105</height>
			</bestsellerproduct_config>
		</bestsellerproduct>
	</default>
</config>