<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Newproduct>
            <version>1.5.0.1</version>
        </Magentothem_Newproduct>
    </modules>
    <frontend>
        <routers>
            <newproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Newproduct</module>
                    <frontName>newproduct</frontName>
                </args>
            </newproduct>
        </routers>
        <layout>
            <updates>
                <newproduct>
                    <file>newproduct.xml</file>
                </newproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Newproduct</module>
					<frontName>newproduct</frontName>
				</args>
			</newproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="newproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<newproduct translate="title" module="newproduct">
						<title>New Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/newproduct</action>
							</configuration>
						</children>
					</newproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Newproduct>
							<title>Newproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Newproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newproduct>
					<file>newproduct.xml</file>
				</newproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproduct>
                <class>Magentothem_Newproduct_Model</class>
                <resourceModel>newproduct_mysql4</resourceModel>
            </newproduct>
            <newproduct_mysql4>
                <class>Magentothem_Newproduct_Model_Mysql4</class>
                <entities>
                    <newproduct>
                        <table>newproduct</table>
                    </newproduct>
                </entities>
            </newproduct_mysql4>
        </models>
        <resources>
            <newproduct_setup>
                <setup>
                    <module>Magentothem_Newproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproduct_setup>
            <newproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproduct_write>
            <newproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproduct_read>
        </resources>
        <blocks>
            <newproduct>
                <class>Magentothem_Newproduct_Block</class>
            </newproduct>
        </blocks>
        <helpers>
            <newproduct>
                <class>Magentothem_Newproduct_Helper</class>
            </newproduct>
        </helpers>
    </global>
	<default>
		<newproduct>
			<newproduct_config>
				<enabled>1</enabled>
				<title>New Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<addtocart>0</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>1</review>
				<description>0</description>
				<qty>2</qty>
				<items>2</items>
				<width>85</width>
				<height>105</height>
			</newproduct_config>
		</newproduct>
	</default>
</config>